 <body>
   <h2>
        <%= message.user %>
    </h2>
        <ul>
            <li>
                Message: <%= message.text %> 
            </li>
            <li>
                Created on <%= message.added%>
            </li>
            <button type="submit">Open</button>
        </ul>
</body> 